
.Our > h1 {
    margin-top: 104px;;
    margin-bottom: 30px;
	font-size: 62px;
    margin-left: 514px;
color: #494949;
font-weight: 700;
font-family: 'Peace Sans';
}
.Slider > img {
    display:inline-block;
    height:96px;
    width:48px;
   margin-top: 246px;
}

.Slider
{
    margin-top: -60px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
   height:500px;
	flex-flow:row wrap;
    justify-content: space-between;
}

.SliderImages {

    width: 1046px;
    height:100%;
    display: flex;
    justify-content: space-between;
}

.leftImage {
    opacity: 50%;
    filter: drop-shadow(-3.508px 11.476px 20px rgba(0,1,1,0.22));
    border: 18px solid #ffffff;
    margin-top: 140px;
    width:240px;
    height:240px;
  
transform: rotate(45deg);
overflow: hidden;
display: flex;
justify-content: space-around;

}
.CentralImage {
    filter: drop-shadow(-3.508px 11.476px 20px rgba(0,1,1,0.22));
    border: 18px solid #ffffff;
    width:300px;
    height:300px;
    
    margin-top: 100px;
transform: rotate(45deg);
animation: switch 9s infinite ease-out;
background-image: url('../image/ur.png');

  background-position: center;
 
  background-size: 150%;

}
.CentralImage > img {
    transform: rotate(-45deg) scale(1.41);
    margin-right: 10px;
    padding-right: 20px;
    padding-bottom: 50px;
}   
.SliderImages >div:nth-child(1) {
    margin-left: 80px;
    
   
}

.SliderImages >div:nth-child(1) > div:nth-child(1) {
    animation: switchL 9s infinite ease-out;
    background-image: url('../image/Nigger.png');
    
      background-position: center;
     
      background-size: 140%;
}

.SliderImages >div:nth-child(3) > div:nth-child(1) {
    animation: switchR 9s infinite ease-out;
    background-image: url('../image/Nigger.png');
    
      background-position: center;
     
      background-size: 140%;
}

.SliderMicro > div > img{
    transform: rotate(-45deg) scale(1.41);
    padding-right: 0px;
   
}
.SliderImages >div:nth-child(3) {
    margin-right: 80px;

}

.SliderImages >div:nth-child(2) {
    z-index:  100;
}

.Name{
    margin-left: 30px;
    margin-top: -10px;
    height: 48px;
    width:228px;
    background: black;
    z-index:  110;
    transform: skewX(45deg);
}
.Name > h1 {
    margin-left: 60px;
    transform: skewX(-45deg);
    font-size: 24px;
line-height: 39px;
color: #ffffff;
font-weight: 700;
font-family: "Open Sans";
}
.SliderBig {
    display: flex;
    flex-flow: column;

}

.Prof {
    overflow: hidden;
    width:142px;
    height:30px;
    background: red;
    transform: skewX(45deg);
    margin-top: -6px;
    z-index:  120;
    margin-left: 95px;
}
.Prof > ul {
    list-style-type: none;
    animation: switchLOL 9s infinite ease-out;
}
.Prof > ul > li {
    text-decoration: none;
    
    margin-left: 25px;
 margin-top: -2px;
    transform: skewX(-45deg);
    font-size: 19px;
line-height: 32px;
color: #ffffff;
font-weight: 400;
font-style: italic;
font-family: "Open Sans";
}

.SliderMicro > div:nth-child(2){
    opacity: 80%;
    height: 38px;
    width:200px;
    margin-top: -10px;
}

.SliderMicro > div:nth-child(2) > h1{
    font-size: 18px;
line-height: 30px;
color: #ffffff;
font-weight: 400;
font-family: "Open Sans";
padding-top: 5px;
}


@keyframes switch {
    0%,33% {
        background-image: url('../image/ur.png');
    }
    34%,66% {
        background-image: url('../image/Nigger.png');
    }
    67%,100% {
        background-image: url('../image/CoolGirl.png');
    }
}

@keyframes switchL {
    0%,33% {
        background-image: url('../image/Nigger.png');
    }
    34%,66% {
        background-image: url('../image/CoolGirl.png');
    }
    67%,100% {
        background-image: url('../image/ur.png');
    }
}

@keyframes switchR {
    0%,33% {
        background-image: url('../image/CoolGirl.png');
    }
    34%,66% {
        background-image: url('../image/ur.png');
    }
    67%,100% {
        background-image: url('../image/Nigger.png');
    }
}

@keyframes switchLOL {
    0%,32% {
         margin-top: 0px;
         margin-left: 0px;
    }
    33%,34% {
        margin-top: -33px;
        margin-left: 0px;
    }
    35%,66% {
        margin-top: -33px;
        margin-left: 0px;
    }
    67%,68% {
        margin-top: -62px;
        margin-left: 10px;
    }
    69%,100% {
        margin-top: -62px;
        margin-left: 10px;
    }
}